<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello ATM-Server HTML</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	
</head>
<body>
	<el-row>
	  <el-col :span="12"><div class="grid-content bg-purple"></div></el-col>
	  <el-col :span="12"><div class="grid-content bg-purple-light"></div></el-col>
	</el-row>

 	<!-- 先引入 Vue -->
  	<script src="https://unpkg.com/vue/dist/vue.js"></script>
  	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>


</body>
</html>